body {
  background-image: url("coffee background2.JPG");
  background-size: cover;
  margin: auto;
}

div.para{
  padding-left: 150px;
  padding-right: 150px;
  font-size: 25px;
  font-family: sans-serif;
}

/* Add a black background color to the top navigation */
.topnav {
  font-size: 30px;
  font-weight: bold;
  font-family: Bahnschrift Condensed;
  color: #ffffff;
  background-color: #993300; /*dark orange*/
  overflow: hidden;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e64d00; /*middark orange*/
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #e64d00; /*middark orange*/
  color: white;
}

.topnav_rightpart a{
  float: right;
}

.form{
  height: auto;
  align-items: center;
  justify-content: center
}
