body {
  background-image: url("coffee background2.JPG");
  background-size: cover;

}

div.headingnav{
  background-image: url("Coffee heading1.JPG");
  height: 400px;
  width: 100%;
}

div.para{
  padding: 10px;
}

/* Add a black background color to the top navigation */
.topnav {
  font-size: 30px;
  font-weight: bold;
  font-family: Bahnschrift Condensed;
  color: #ffffff;
  background-color: #993300; /*dark orange*/
  overflow: hidden;
  align-items: center;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #e64d00; /*grey*/
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: inherit; /*orange*/
  color: white;
}

.topnav_rightpart a{
  float: right;
}
